<div class="container">
  <div class="product_container">
    <div class="product">
      <table>
        <tr>
          <th>Sản phẩm</th>
          <th>Số lượng</th>
          <th>Tổng cộng</th>
          <th></th>
        </tr>
        <tr *ngFor="let p of products">
          <td>
            <div class="product_info">
              <div class="pImage">
                <img src="{{p.image}}" alt="">
              </div>
              <div class="pName">
                <p>{{p.name}}</p>
              </div>
            </div>
          </td>
          <td>
            <button class="minus" (click)="minus(p._id)" >-</button>
            <input type="number" [value]="p.quantity" class="quantity" min="0">
            <button class="plus" (click)="plus(p._id)">+</button>
          </td>
          <td class="price">{{p.totalPrice}} đ</td>
          <td><div class="delete"><a routerLink="/empty-cart">Xóa</a></div></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="bill">
    <table>
      <tr>
        <td>Tạm tính:</td>
        <td>{{total}} đ</td>
      </tr>
      <tr>
        <td>VAT:</td>
        <td>{{tax}} đ</td>
      </tr>
      <tr>
        <td>Tổng cộng</td>
        <td>{{cart.totalPrice}} đ</td>
      </tr>
    </table>
    <div class="btn1"><a routerLink="/order">Đặt hàng</a></div>
    <div class="btn2"><a routerLink="">Tiếp tục mua hàng</a></div>
  </div>
</div>