<div class="container">
  <div class="product">
    <table>
      <tr>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Tổng cộng</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <div class="product__info">
            <div class="pImage">
              <img src="assets/image/hoahong.png">
            </div>
            <div class="pName">
              <p>Hoa hồng</p>
            </div>
          </div>
        </td>
        <td>
          <button class="minus">-</button>
          <input type="number" [value]="1" class="quantity" min="0">
          <button class="plus">+</button>
        </td>
        <td class="price">500.000 đ</td>
        <td><div class="delete"><a routerLink="/empty-cart">Xóa</a></div></td>
      </tr>
    </table>
  </div>
  <div class="bill">
    <table>
      <tr>
        <td>Tạm tính:</td>
        <td>500.000 đ</td>
      </tr>
      <tr>
        <td>VAT:</td>
        <td>40.000 đ</td>
      </tr>
      <tr>
        <td>Tổng cộng</td>
        <td>540.000 đ</td>
      </tr>
    </table>
    <div class="btn1"><a routerLink="/order">Đặt hàng</a></div>
    <div class="btn2"><a routerLink="">Tiếp tục mua hàng</a></div>
  </div>
</div>