
<div class="REGISTER">
    <div class="div">
      

      <div class="overlap-4">
        <div class="text-wrapper-22">Tạo Tài Khoản</div>
        <form>
            <div class="form">
            <div class="group-10">
                <input class="div-2" name="" id="">
                <div class="text-wrapper-23">Họ:</div>
            </div>
            <div class="group-15">
              <input class="div-2" name="" id="">
              <div class="text-wrapper-27">Tên:</div>
            </div>
            <div class="group-14">
              <input class="div-2" name="" id="">
            <div class="text-wrapper-26">Số điện thoại:</div>
          </div>
            <div class="group-11">
                <input class="div-2" name="" id="">
                <div class="text-wrapper-23">Email:</div>
            </div>
            <div class="group-12">
                <input class="div-2" name="" id="" type="password">
                <div class="text-wrapper-24">Tạo mật khẩu:</div>
            </div>
            <div class="group-13">
                <input class="div-2" name="" id="" type="password">
                <div class="text-wrapper-25">Nhập lại mật khẩu:</div>
            </div>
            
            
            </div>
        </form>

        <div class="group-9">
            <div class="ng-k-bt-wrapper"><button type="button" class="ng-k-bt">Đăng ký</button></div>
        </div>

        <div class="c-t-i-kho-n-ng-nh-p">
          <span class="span">Đã có Tài khoản? </span> <span class="text-wrapper-28"><a routerLink="/login">Đăng nhập?</a></span>
        </div>
      </div>
    </div>
  </div>
