<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Gental Petals</title>
  <link rel="stylesheet" href="footer.component.css" />
</head>

<body>
  <Footer>
    <div class="footer">
      <div class="box1">
        <div class="box2">
          <div class="group">
            <h2 class="font-bold text-lg pb-3">Gental Petals</h2>
            <p class="text-sm leading-5">669 QL 1A, Khu phố 3, Thủ Đức, Thành phố Hồ Chí Minh</p>
          </div>
        </div>
        <div class="box3">
          <div class="group-5">
            <h2 class="font-bold text-lg pb-3">Thông tin</h2>
            <a class="texta" href="homepage.html">Trang chủ</a><br>
            <a class="texta" href="aboutus.html">Về chúng tôi</a><br>
            <a class="texta" href="trangdanhmuc.html">Các loại sản phẩm</a><br>
            <a class="texta" href="blog.html">Blog</a>
          </div>
          <div class="group-wrapper">
            <h2 class="font-bold text-lg pb-3">Hỗ trợ</h2>
            <a class="texta" href="lienhe.html">Liên hệ</a><br>
            <a class="texta" href="cauhoithuonggap.html">Câu hỏi thường gặp</a>
          </div>
        </div>
      </div>
      <div>
        <hr>
        <p class="textb">© Gental Petals 2023</p>
      </div>
    </div>
  </Footer>
</body>

</html>