<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gental Petals</title>
    <link rel="stylesheet" href="footer.component.css" />
  </head>
  <body>
    <div class="footer">
      <div class="footer-variant">
        <div class="div">
          <div class="group">
            <div class="text-wrapper">Gental Petals</div>
            <p class="p">669 QL 1A, Khu phố 3, Thủ Đức, Thành phố Hồ Chí Minh</p>
          </div>
          <div class="group-2">
            <div class="text-wrapper-2">Thông tin</div>
            <div class="text-wrapper-3">Trang chủ</div>
            <div class="text-wrapper-4">Về chúng tôi</div>
            <div class="text-wrapper-5">Các loại sản phẩm</div>
            <div class="text-wrapper-6">Chính sách</div>
          </div>
          <div class="group-wrapper">
            <div class="group-3">
              <div class="text-wrapper-7">Hỗ trợ</div>
              <div class="text-wrapper-8">Liên hệ</div>
              <div class="text-wrapper-9">Câu hỏi thường gặp</div>
            </div>
          </div>
          <div class="text-wrapper-10">© Gental Petals 2023</div>
          <img class="line" src="img/line-3.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
