html,body {
  padding: 0;
  margin: 0;
  position:relative; 
  min-height: 100%;
}
.footer{
  font-family: "Noto-sans", sans-serif;
  background-color: #f2f2f2;
  border-top: 1px solid #bbbbbb;
  width: 100%;
  position: absolute;
  margin-bottom: auto;
  margin-top: auto;
}

.box1{
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.box3{
  padding-top: 20px;
  display: flex;
}
.footer .group {
  width: 280px;
  height: 114px;
  margin-top: 50px ;
}

.footer .group-wrapper, .footer .group-5  {
  width: 200px;
  height: 130px;
}

.texta{
  font-size: 14px;
}
.texta:hover{
  color: #E58888;
}

.textb{
  color: #c0bebe;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 12pt;
}