<p>dashboard-dashboard works!</p>
<div class="flex items-center w-screen h-screen max-w-screen-xl bg-white border border-solid shadow-sm">
    <div class="flex items-center ml-[155px]">
        <div class="flex flex-col items-stretch">
            <a href="/dashboard"
                class="nav-item justify-center border pl-3.5 pr-16 py-4  text-white text-xl font-light leading-5 bg-red-200 border-b border-solid items-start border-collapse">Dashboard</a>
            <a href="/edit-profile"
                class="nav-item justify-center border  text-rose-400 text-xl font-light leading-5  z-[1] pl-3.5 pr-16 py-4 border-b border-solid items-start border-collapse">Edit
                Profile</a>
            <a href="/change-password"
                class="nav-item justify-center text-rose-400 text-xl font-light leading-5 items-stretch border pl-3.5 pr-12 py-4 border-solid border-collapse">Change
                Password</a>
            <div
                class="justify-center text-rose-400 text-center text-base font-bold leading-5 mt-4 px-16 py-3.5 rounded-xl border-solid border md:px-5">
                <a href="">Log out </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-start p-5 border rounded-[10px] ml-[48px] w-[822px] h-[368px]">
        <h2 class="mb-4 text-xl font-bold">Tài khoản đăng nhập:</h2>
        <div class="flex w-full justify-evenly">
            <div class="border p-4 w-[346px] h-[223px] mb-4 flex flex-col items-center">
                <p class="font-bold text-center">Total Orders</p>
                <h3 class="text-lg font-bold text-center">0</h3>
                <a href="#" class="text-center text-blue-500">View Order</a>
            </div>
            <div class="border p-4 w-[346px] h-[223px] mb-4">
                <div class="w-24 h-24 bg-gray-400 rounded-full"></div>
                <p class="flex-1 text-center">Sangpt21406st.uet.edu.vn</p>
            </div>
        </div>
    </div>
</div>