<div class="navbar">
  <div class="overlap">
    <div class="group">
      <img class="gentle-petals" src="/assets/nav_img/Gentle Petals.png" />
      <div class="text-wrapper">GENTLE PETALS</div>
    </div>
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <div class="rectangle"></div>
        <div class="div">Danh mục</div>
        <img class="vector" src="img/vector.svg" />
      </div>
      <div class="catagories">
        <ul>
          <li class="menu-item">
            <div class="menu-link"><i class="bi bi-list" style="color:white; font-size:18px"></i>&nbsp;Danh mục</div>
            <ul class="submenu">
              <li><a routerLink= "/trangdanhmuc" class="submenu-link">All products</a></li>
              <li><a routerLink= "#" class="submenu-link">Hoa1</a></li>
              <li><a routerLink= "#" class="submenu-link">Hoa2</a></li>
              <li><a routerLink= "#" class="submenu-link">Hoa3</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="store"><a routerLink= "/trangdanhmuc">Store</a></div>
      <div class="search">
        <i class="bi bi-search" style="color:#ffc0cb; font-size:18px; padding-right: 10px"></i>
        <input type="text" placeholder="Tìm kiếm gì đó" id="find">
      </div>
      <div class="group-2">
        <div class="text4">Welcome Guest</div>
        <div class="text5">
          <a href="#"> Sign in</a> |
          <a href="#"> Register</a>
        </div>
      </div>
      <div class="cart_cont">
        <a href="#" class="cart"><i class="bi bi-cart-fill"></i></a>
      </div>
    </div>
  </div>
</div>