<body>
  <div class="header-guest">
    <header class="header">
      <div class="group">
        <p class="GENTAL-PETALS">
          <span class="text-wrapper">GENTAL</span>
          <span class="span">&nbsp;</span>
          <span class="text-wrapper-2">PETALS</span>
        </p>
        <div class="frame"><div class="div">Menu</div></div>
        <div class="div-wrapper"><div class="text-wrapper-3">Search</div></div>
        <div class="ellipse"></div>
        <div class="text-wrapper-4">Welcome Guest</div>
        <div class="text-wrapper-5">Sign in | Register</div>
      </div>
      <div class="frame-2"><p class="p">Ngôn ngữ của sự dịu dàng</p></div>
    </header>
  </div>
</body>