.navbar {
  position: sticky;
  background-color: rgba(255, 192, 203, 1);
  width: 100%;
  height: 66px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.overlap {
  position: relative;
  width: 1050px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.logoname {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}


.catagories {
  width: 110px;
  font-size: 15px;
  list-style: none;
  border-radius: 10px;
  border: 2px solid white;
  height: 40px;
}

.menu-item {
  border-radius: 10px;
  position: relative;
}

.menu-link {
  display: block;
  display: flex;
  flex-direction: row;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.3s;
  align-items: center;
  font-weight: bold;

}

.submenu {
  border-radius: 10px;
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  border: 2px solid rgba(255, 192, 203, 1);
  text-align: center;
}

.menu-item:hover>.submenu {
  display: block;
}

.submenu-link {
  padding: 10px;
  color: rgba(255, 192, 203, 1);
  text-decoration: none;
  display: block;
}

.submenu-link:hover {
  border-radius: 10px;
  color: rgba(229, 136, 136, 1);
}

.store {
  cursor: pointer;
  height: 40px;
  width: 62px;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid white;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.search {
  position: relative;
  width: 398px;
  height: 37px;
  background-color: #ffffff;
  border-radius: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
}

#find:focus {
  color: #ffc0cb;
  outline: none;
  border: none;
  box-shadow: none;
}

.group-2 {
  font-size: 16px;
  font-weight: bold;
}

.text5 {
  color: black;
}

.cart_cont {
  display: flex;
  align-items: center;
}

.cart {
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.cart i {
  color: #ffc0cb;
  font-size: 20px;
}