<div class="container">
    <div class="info">
        <div class="title">Thông tin người nhận</div>
        <div>
            <p><label for="name">Tên người nhận:</label></p>
            <input type="text" required #name>
            <p><label for="phone">Điện thoại:</label></p>
            <input type="text" id="phone" required>
            <p><label for="email">Email:</label></p>
            <input type="email" id="email" required>
            <p><label for="address">Địa chỉ: </label></p>
            <input type="text" id="address" required>
            <p><label for="note">Ghi chú lời nhắn: </label></p>
            <textarea name="" id="" required></textarea>
        </div>
    </div>
    <div class="product_container">
        <div class="bill">
            <table class="product">
                <tr>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Tổng cộng</th>
                </tr>
                <tr>
                    <td>
                        <div class="product_info">
                            <div class="pImage"><img src="assets/image/hoahong.png"></div>
                            <div class="pName">
                                <p>Hoa hồng</p>
                            </div>
                        </div>
                    </td>
                    <td class="quantity">1</td>
                    <td class="price">500.000đ</td>
                </tr>
            </table>
            <div class="btn"><a routerLink="/payment">Thanh toán</a></div>
        </div>
    </div>
</div>


