<<<<<<< Updated upstream
=======
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body,
html {
  padding: 0;
  margin: 0;
}

.page2, .main, .page3{
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}


.banner img {
  margin-top: 20px;
  width: 930px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.divell {
  left: 50%;
  transform: translateX(-50%);
  margin-top: -40px;
  position: absolute;
  width: 54px;
  height: 12px;
}

.ellipse1:focus,
.ellipse2:focus,
.ellipse3:focus {
  width: 12px;
  height: 12px;
  background-color: #ffc0cb;
  border-radius: 50px;
}

.ellipse1,
.ellipse2,
.ellipse3 {
  width: 12px;
  height: 12px;
  background-color: #a7a7a7;
  border-radius: 50px;
}

.group-3 {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.seeall {
  cursor: pointer;
  height: 37px;
  width: 70px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #E58888;
  display: block;
  color: #E58888;
  padding: 5px;
  text-align: center;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product {
  width: 240px;
  height: 280px;
  border-radius: 10px;
  border: 1px solid #B4B4B4;
  margin-bottom: 30px;
  margin-right: 20px;
  cursor: pointer;

}

.product img {
  margin: 10px auto 5px auto;
  width: 160px;
  height: 190px
}

.product hr{
  border: 1px solid #a7a7a7;
  margin: 5px 0;
}

.product .name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 0 0 20px;
}

.product .price {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-left: 20px;
  color: red;
}

.product hr {
  margin: 10px 0 0 0;
}


.footer{
  font-family: "Noto-sans", sans-serif;
  position: sticky;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #bbbbbb;
  bottom: 0;
}

.box1{
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.box3{
  padding-top: 20px;
  display: flex;
}
.footer .group {
  width: 280px;
  height: 114px;
  margin-top: 50px ;
}

.footer .group-wrapper, .footer .group-5  {
  width: 200px;
  height: 130px;
}

.texta{
  font-size: 14px;
}
.texta:hover{
  color: #E58888;
}

.textb{
  color: #c0bebe;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 12pt;
}
>>>>>>> Stashed changes
