<div class="order">Đơn hàng của bạn</div>
<div class="container">
  <div class="item-1">
    <div class="info">
      <div class="title">Thông tin người nhận:</div>
      <p>{{customer.name}}</p>
      <p>{{order.address}}</p>
      <p>{{customer.phoneNumber}}</p>
      <p>{{customer.email}}</p>
    </div>
    <div class="payment">
      <div class="title">Phương thức thanh toán</div>
      <p>
        <input type="radio" name="payment-method" id="cod" value="cod" checked>
        <label for="cod">Thanh toán khi nhận hàng (COD)</label>
      </p>
      <p>
        <input type="radio" name="payment-method" id="transfer" value="transfer">
        <label for="transfer">Chuyển khoản ngân hàng</label>
      </p>
      <p>
        <input type="radio" name="payment-method" id="card" value="card">
        <label for="card">Thanh toán thẻ quốc tế/thẻ nội địa</label>
      </p>
    </div>
    <div class="product">
      <div class="title">Đơn hàng</div>
      <table>
        <tr>
          <th>Sản phẩm</th>
          <th>Số lượng</th>
          <th>Tổng cộng</th>
        </tr>
        <tr *ngFor="let p of products">
          <td>
            <div class="product_info">
              <div class="pImage">
                <img src="{{p.image}}">
              </div>
              <div class="pName">{{p.name}}</div>
            </div>
          </td>
          <td>
            <p class="quantity">{{p.quantity}}</p>
          </td>
          <td class="price">{{p.totalPrice}} đ</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="item-2">
    <div class="bill">
      <table>
        <tr>
          <td>Tạm tính:</td>
          <td>{{total}} đ</td>
        </tr>
        <tr>
          <td>VAT:</td>
          <td>{{tax}} đ</td>
        </tr>
        <tr>
          <td>Tổng cộng:</td>
          <td>{{bill.totalPrice}} đ</td>
        </tr>
      </table>
      <div class="bttn">
        <button (click)="confirm()">Đặt hàng</button>
      </div>
    </div>
  </div>
</div>