<div class="order">Đơn hàng của bạn</div>
<div class="container">
  <div class="item-1">
    <div class="info">
      <div class="title">Thông tin người nhận:</div>
      <p>Nguyễn Văn A</p>
      <p>669, Khu phố 3, phường Linh Xuân</p>
      <p>0912345678</p>
      <p>nguyenvanagmail.com</p>
    </div>
    <div class="payment">
      <div class="title">Phương thức thanh toán</div>
      <p>
        <input type="radio" name="payment-method" id="cod" value="cod" checked>
        <label for="cod">Thanh toán khi nhận hàng (COD)</label>
      </p>
      <p>
        <input type="radio" name="payment-method" id="transfer" value="transfer">
        <label for="transfer">Chuyển khoản ngân hàng</label>
      </p>
      <p>
        <input type="radio" name="payment-method" id="card" value="card">
        <label for="card">Thanh toán thẻ quốc tế/thẻ nội địa</label>
      </p>
    </div>
    <div class="product">
      <div class="title">Đơn hàng</div>
      <table>
        <tr>
          <th>Sản phẩm</th>
          <th>Số lượng</th>
          <th>Tổng cộng</th>
        </tr>
        <tr>
          <td>
            <div class="product_info">
              <div class="pImage">
                <img src="assets/image/hoahong.png">
              </div>
              <div class="pName">Hoa hồng</div>
            </div>
          </td>
          <td>
            <p class="quantity">1</p>
          </td>
          <td class="price">500.000 đ</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="item-2">
    <div class="bill">
      <table>
        <tr>
          <td>Tạm tính:</td>
          <td>500.000 đ</td>
        </tr>
        <tr>
          <td>VAT:</td>
          <td>40.000 đ</td>
        </tr>
        <tr>
          <td>Tổng cộng:</td>
          <td>540.000 đ</td>
        </tr>
      </table>
      <div class="btn">
        <a routerLink="/">Đặt hàng</a>
      </div>
    </div>
  </div>
</div>