<div class="thanh-ton">
    <div class="div">
      <div class="text-wrapper">Đơn hàng của bạn</div>
      <div class="thng-tin-ngi-nhn">
        <div class="overlap-group">
          <div class="text-wrapper-2">Thông tin người nhận:</div>
          <div class="text-wrapper-3">Nguyễn Văn A</div>
          <div class="text-wrapper-4">669, Khu phố 3</div>
          <p class="p">Phường Linh Xuân, Thành phố Thủ Đức</p>
          <p class="text-wrapper-5">Thành phố Hồ Chí Minh</p>
          <div class="text-wrapper-6">0912345678</div>
          <div class="text-wrapper-7">nguyenvana<span>&#64;</span>gmail.com</div>
        </div>
      </div>
      <div class="phng-thc-thanh-ton">
        <div class="overlap">
            <div class="union">
                <input type="radio" name="payment-method" id="cod">
                <label for="cod">Thanh toán khi nhận hàng</label>
                <br>
                <input type="radio" name="payment-method" id="transfer">
                <label for="transfer">Chuyển khoản</label>
                <br>
                <input type="radio" name="payment-method" id="card">
                <label for="card">Thanh toán thẻ quốc tế/nội địa</label>
            </div>
          <div class="text-wrapper-9">Phương thức thanh toán</div>
        </div>
      </div>
      <div class="n-hng">
        <div class="overlap-2">
          <div class="text-wrapper-12">Đơn hàng</div>
          <img class="image" src="assets/image/hoahong.png" />
          <div class="text-wrapper-13">Sản phẩm</div>
          <div class="text-wrapper-14">Số lượng</div>
          <div class="text-wrapper-15">Tổng cộng</div>
          <div class="text-wrapper-16">Hoa hồng</div>
          <div class="text-wrapper-17">1</div>
          <div class="text-wrapper-18">500.000 đ</div>
        </div>
      </div>
      <div class="overlap-3">
        <div class="tng-cng">
          <div class="text-wrapper-19">540.000 đ</div>
          <div class="text-wrapper-20">Tạm tính:</div>
          <div class="text-wrapper-21">VAT:</div>
          <div class="text-wrapper-22">Tổng cộng:</div>
          <div class="text-wrapper-23">500.000 đ</div>
          <div class="text-wrapper-24">40.000 đ</div>
        </div>
        <div class="div-wrapper"><div class="text-wrapper-25">Đặt hàng</div></div>
      </div>
    </div>
  </div>