<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Gentle Petals</title>
    <link rel="stylesheet" href="blog2.component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <!-- <div class="page"> -->
        <!-- Body -->
        <!-- <div class="page2" *ngIf="selectedBlog">
            <h2 class="font-bold text-xl"> {{selectedBlog.title}}</h2><br>
            <p>{{selectedBlog.content}}</p>
    </div>
    </div> -->
</body>

</html>
