<div class="FORGOT-PW">
    <div class="div">
      
      <div class="qun-MK">
        <div class="overlap-4">
          <div class="text-wrapper-23">Quên Mật khẩu</div>
          <div class="div-wrapper">
            <div >
                <input class="overlap-group-5" placeholder="Nhập địa chỉ Email" name="" id="">
            </div>
          </div>
          <div class="text-wrapper-26"><a routerLink="/login">Đăng nhập?</a></div>
          <div class="group-9">
            <div class="overlap-5"><button type="button" class="text-wrapper-25">Gửi Email xác thực</button></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
