<div class="FORGOT-PW">
    <div class="div">
      <div class="text-wrapper">Câu hỏi thường gặp</div>
      <div class="navbar">
        <div class="overlap">
          <div class="overlap-group">
            <div class="group">
              <img class="gentle-petals" src="" />
              <div class="text-wrapper-2">GENTLE PETALS</div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="rectangle"></div>
                <div class="text-wrapper-3">Danh mục</div>
                <img class="vector" src="" />
              </div>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="text-wrapper-4">Store</div>
              <div class="rectangle-2"></div>
            </div>
          </div>
          <div class="group-2">
            <div class="text-wrapper-5">Welcome Guest</div>
            <div class="text-wrapper-6"><A routerLink="/login">Sign in</A> | <A routerLink="/register">Register</A></div>
          </div>
          <div class="group-3">
            <div class="vector-wrapper"><img class="img" src="" /></div>
          </div>
          <div class="img-wrapper"><img class="vector-2" src="" /></div>
        </div>
      </div>
      <footer class="footer">
        <div class="overlap-3">
          <img class="line" src="" />
          <div class="group-4">
            <div class="text-wrapper-7">Thông tin</div>
            <div class="text-wrapper-8">Trang chủ</div>
            <div class="text-wrapper-9">Về chúng tôi</div>
            <div class="text-wrapper-10">Các loại sản phẩm</div>
            <div class="ch-nh-s-ch">Blog</div>
          </div>
          <div class="group-5">
            <div class="text-wrapper-11">Gental Petals</div>
            <p class="p">669 QL 1A, Khu phố 3, Thủ Đức, Thành phố Hồ Chí Minh</p>
          </div>
          <div class="rectangle-3"></div>
          <div class="text-wrapper-12">© Gental Petals 2023</div>
          <img class="line-2" src="" />
          <div class="group-6">
            <div class="overlap-group-3">
              <div class="text-wrapper-13">Thông tin</div>
              <div class="text-wrapper-14">Trang chủ</div>
            </div>
            <div class="text-wrapper-15">Về chúng tôi</div>
            <div class="text-wrapper-16">Các loại sản phẩm</div>
            <div class="text-wrapper-17">Blog</div>
          </div>
          <div class="group-wrapper">
            <div class="group-7">
              <div class="overlap-group-4">
                <div class="text-wrapper-18">Hỗ trợ</div>
                <div class="text-wrapper-19">Liên hệ</div>
              </div>
              <div class="text-wrapper-20">Câu hỏi thường gặp</div>
            </div>
          </div>
          <div class="group-8">
            <div class="text-wrapper-21">Gental Petals</div>
            <p class="text-wrapper-22">669 QL 1A, Khu phố 3, Thủ Đức, Thành phố Hồ Chí Minh</p>
          </div>
        </div>
      </footer>
      <div class="qun-MK">
        <div class="overlap-4">
          <div class="text-wrapper-23">Quên Mật khẩu</div>
          <div class="div-wrapper">
            <div >
                <input class="overlap-group-5" placeholder="Nhập địa chỉ Email" name="" id="">
            </div>
          </div>
          <div class="text-wrapper-26"><a routerLink="/login">Đăng nhập?</a></div>
          <div class="group-9">
            <div class="overlap-5"><button type="button" class="text-wrapper-25">Gửi Email xác thực</button></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
