<div class="FORGOT-PW">
    <div class="div">
      
      <div class="RESET-PW">
        <div class="overlap-4">
          <div class="text-forgotpw">Quên Mật khẩu</div>
          <div class="div-wrapper">
            <form [formGroup]="forgotpwForm" (ngSubmit)="onSubmit()" >   
                <input class="input" placeholder="Nhập địa chỉ Email" type="email"
                formControlName="email" [ngClass]="{'is-invalid':submitted && forgotpwForm.controls['email'].errors}" >
                <div *ngIf="submitted && forgotpwForm.controls['email'].errors" class="text-danger" >
                  <div *ngIf="submitted && forgotpwForm.controls['email'].errors?.['required']">
                      Bạn chưa nhập Email!
                  </div>
                  <div *ngIf="submitted && forgotpwForm.controls['email'].errors?.['email']">
                      Email sai !
                  </div>
                </div>  
            </form>
          </div>
          <div class="text-login"><a routerLink="/login">Đăng nhập?</a></div>
          <div class="button-wrapper">
            <div class="button"><button type="button" class="text-button" (click)="onSubmit()">Gửi Email xác thực</button></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
