<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Gentle Petals</title>
    <link rel="stylesheet" href="cauhoithuonggap.component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="cuu">
            <div class="lienhe"> Câu hỏi thường gặp </div>
            <hr style="color: #ffc0cb;">
        </div>
        <div class="huhu">
            <h1 class="text-bold text-2xl">Các câu hỏi thường gặp</h1>
                <p style="text-align: left;"><strong>I. Cách thức đặt mua sản phẩm tại Gentle Petals:</strong></p>
                <p><em><strong>1. Làm sao để mua được Sản phẩm từ Gentle Petals?</strong></em></p>
                <p> Quý khách có thể đặt hàng theo các cách sau:</p>
                <p> + Mua hàng trực tiếp trên website.</p>
                <p> + Đặt hàng qua Hotline(24/24)</p>
                <p><strong></strong> + Đặt hàng trực tiếp tại các cửa hàng niêm yết trên website.</p>
                <p> </p>
                <p><strong><em>2. Thời gian đặt hàng trước khi giao hoa là bao nhiêu thì tốt nhất?</em></strong></p>
                <p>Trong tất cả trường hợp, chúng tôi đều khuyến khích bạn nên đặt hoa trước 24h, điều này giúp chúng
                    tôi có thể giúp bạn được tốt hơn. Tuy nhiên, một số trường hợp đột xuất quan trọng và những mẫu hoa
                    đơn giản chúng tôi cũng vẫn có thể chấp nhận các đơn hàng trước 1 đến 2 giờ. Chúng tôi sẽ cố gắng
                    hết sức trong khả năng cho phép để có thể giúp bạn.</p>
                <p><strong><br /></strong></p>
                <p><strong><em>3. Gentle Petals sẽ xác nhận đơn hàng như thế nào?</em></strong></p>
                <p>Khi đặt hàng thành công quý khách sẽ nhận được email thông báo Nội dung chi tiết đơn đặt hành thành
                    công qua email quý khách đã đăng kí trên website. Sau khi nhận được đơn đặt hàng chúng tôi sẽ gọi
                    điện thoại hoặc gửi email xác nhận đơn đặt hàng với quý khách.</p>
                <p> </p>
                <p><strong><em>4. Sản phẩm của Gentle Petals có đảm bảo chất lượng và đúng mẫu không?</em></strong>
                </p>
                <p>Tất cả các đại lý và nhà cung cấp sản phẩm,dịch vụ đã đươc chọn lọc và có cam kết với Hoayeuthuong để
                    phục vụ các sản phẩm, dịch vụ tốt nhất đến quý khách. Bạn cứ yên tâm nhé! Nếu có điều gì không hài
                    lòng, bạn hãy phản hồi cho chúng tôi tại tổng đài "hong biết nữa" – email:  . Chúng tôi luôn lắng nghe
                    và ghi nhận những ý kiến đóng góp của khách hàng.</p>
                <p>Trong trường hợp thiếu nguyên liệu về hoa, chúng tôi sẽ chủ động liên hệ với quý khách để thông báo
                    và tư vấn phương án thay thế tốt nhất.</p>
                <p> </p>
                <p><em><strong>5. Các đơn hàng ở tỉnh thì phí vận chuyển ( phí ship ) được tính như thế nào
                            ?</strong></em></p>
                <p>Đối với các đơn hàng ở tỉnh, nếu địa điểm giao hoa nằm trong phạm vi bán kính 5km tính từ trung tâm
                    của tỉnh thì khách hàng sẽ không cần trả thêm phí ship. Đối với các đơn hàng nằm ngoài phạm vi bán
                    kính 5km, chúng tôi nhờ chi nhánh xác nhận lại phí ship, thời gian giao hoa cũng như chất lượng hoa
                    trong quá trình giao nhận và sẽ trả lời lại cho quý khách trong thời gian thường 15 phút.</p>
                <p> </p>
                <p><em><strong>6. Tôi muốn tặng kèm gấu bông giao khi hoa về tỉnh có được không ?</strong></em></p>
                <p>Chúng tôi có hỗ trợ gấu bông kèm theo các đơn hàng giao ở tỉnh. Tuy nhiên, để thuận lợi cho việc giao
                    gấu, chúng tôi chỉ hỗ trợ khi khách hàng đặt trước 3 ngày kể từ ngày giao hoa.</p>
                <p> </p>
                <p><em><strong>7. Tôi có nhất thiết phải đăng ký trở thành khách hàng của Gentle Petals mới được mua
                            hàng hay không?</strong></em></p>
                <p>Tùy vào tính chất riêng tư bạn không cần phải đăng ký. Tuy nhiên, việc đăng ký giúp chúng tôi có
                    những thông tin chăm sóc bạn tốt hơn như: gửi chương trình khuyến mãi, tặng quà...</p>
                <p> </p>
                <p><strong> 8<em>. Trường hợp bạn quên mật khẩu </em></strong></p>
                <p>Để lấy lại mật khẩu của mình bạn bấm Quên Mật Khẩu khi đăng nhập và làm theo hướng dẫn</p>
                <p align="center"> </p>
                <p><strong>II. Cách thức thanh toán: </strong></p>
                <p><em><strong>9. Làm sao để thanh toán cho đơn hàng mua từ Gentle Petals</strong></em></p>
                <p>Bạn có thể thanh toán trực tiếp, chuyên qua ngân hàng hoặc thanh toán online </p>
                <p><em><strong>10. Việc chuyển tiền qua ngân hàng, bưu điện thường mất thời gian khá lâu, trong khi đó
                            tôi cần đặt hoa gấp thì tôi phải làm sao?</strong></em></p>
                <p>Bạn chi cần chụp hình hoặc scan phiếu chuyển tiền cho chúng tôi và gửi qua email, chúng tôi chấp nhận việc xác nhận này.</p>
                <p><strong><br /></strong></p>
                <p><em><strong>11. Trong trường hợp nào thì Gentle Petals sẽ tính thêm phí vận chuyển/ phí dịch vụ
                            khác?</strong></em></p>
                <p>Hiện nay, Gentle Petals đã có đại lý khắp các tỉnh thành trong cả nước, nên gần như chúng tôi miễn
                    phí các dịch vụ điện hoa. Tuy nhiên, những vùng xã hoặc thi trấn chưa có chi nhánh thì chúng tôi
                    tính phí tính theo khoảng cách từ trung tâm tỉnh đến các nơi đó.</p>
                <div align="center"> </div>
            </div>
        </div>
</body>

</html>