.div8 {
    padding: 40px;
}

.blog2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body,
html {
    padding: 0;
    margin: 0;
}

.page2,
.main,
.page3 {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}